{%- if !imports.is_empty() %}
import Foundation
import FluoriteRuntime
{%- else %}
import Foundation
{%- endif %}

{%- for line in doc %}
{{ line }}
{%- endfor %}
{{ visibility }} typealias {{ name }} = {{ target_type|safe }}
