{%- if !doc.is_empty() %}
/**
{%- for line in doc %}
 {{ line }}
{%- endfor %}
 */
{%- endif %}
export enum {{ name }} {
{%- for variant in variants %}
{%- if !variant.doc.is_empty() %}
  /**
{%- for line in variant.doc %}
   {{ line }}
{%- endfor %}
   */
{%- endif %}
  {{ variant.name }} = "{{ variant.name }}",
{%- endfor %}
}
