{%- if !imports.is_empty() %}
{%- for import in imports %}
import { {{ import.name }} } from '{{ import.path }}';
{%- endfor %}

{%- endif %}
{%- if !doc.is_empty() %}
/**
{%- for line in doc %}
 {{ line }}
{%- endfor %}
 */
{%- endif %}
export type {{ name }} = {{ target_type|safe }};
