{%- for line in doc %}
{{ line }}
{%- endfor %}
{{ derives }}
#[serde(tag = "{{ tag_field }}", content = "{{ content_field }}")]
pub enum {{ name }} {
{%- for variant in variants %}
{%- match variant %}
{%- when UnionVariantTemplate::Unit with { name, doc } %}
{%- for line in doc %}
    {{ line }}
{%- endfor %}
    {{ name }},
{%- when UnionVariantTemplate::Newtype with { name, type_str, doc } %}
{%- for line in doc %}
    {{ line }}
{%- endfor %}
    {{ name }}({{ type_str|safe }}),
{%- endmatch %}
{%- endfor %}
}

